<!DOCTYPE html>
<html>
  <head>
    <title>Shuttr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      window.logo = "<%= image_url('shuttr.png') %>";
      window.upload = "<%= image_url('upload-icon.png') %>"
      window.github = "<%= image_url('github.png') %>"
      window.linkedin = "<%= image_url('linkedin.png') %>"
      window.angellist = "<%= image_url('angellist.png') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
