<!DOCTYPE html>
<html>
  <head>
    <title>Shuttr</title>
      <meta property="og:title" content="Shuttr" />
      <meta name="image" property='og:image' content="<%= image_url('main.png') %>"/>
      <meta property="og:description"
       content="Shuttr is a full-stack clone of the web application Flickr. It is a responsive web application that allows users to share and discover new photos."
      />
      <meta property="og:url"
       content="https://shuttr-1.herokuapp.com/#/"
      />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      window.logo = "<%= image_url('shuttr.png') %>";
      window.upload = "<%= image_url('upload-icon.png') %>"
      window.github = "<%= image_url('github.png') %>"
      window.linkedin = "<%= image_url('linkedin.png') %>"
      window.angellist = "<%= image_url('angellist.png') %>"
      window.shuttr_logo = "<%= image_url('shutter.png') %>"
      window.back_arrow = "<%= image_url('left-icon.png') %>"
      window.trash_white = "<%= image_url('trash-w.png') %>"
      window.trash_black = "<%= image_url('trash.png') %>"
      window.edit = "<%= image_url('edit.png') %>" 

    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
